/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */


@import url('https://fonts.cdnfonts.com/css/curlz');

html{
}


body {
  background-color: #ffffff;
  color: #000000;
  font-family: Sans-serif;
  font-size: 32px;
}

h1 {
  color: 000000;
  font-style: bold;
  font-size: 300%;
  text-align: center;
}

h2 {
  color: #00FFFF;
  font-style: oblique;
  text-align: center;
  border: 3px solid black;
}

a {
  font-family: Times new roman;
  color: #000000;
}

a:hover {
  color: #000099;
}

ul {
  background-color: #ffffff;
}
